<div class="nested-fields">
    <%= f.input :name, placeholder: "Appareil photo", label: false %>
    <%= f.input :description, placeholder: "Noir, Un réflexe,...", label: false %>
    <%= f.input :brand, placeholder: "Lumix",label: false %>
    <%= f.input :link, placeholder: "https://www.fnac.com/Reflex-Canon-EOS-100D-Obj-Canon-EF-S-IS-STM-18-55-mm-f-3-5-5-6/a5782281/w-4",label: false %>
    <%= link_to_remove_association "Supprimer un Cadeau", f, class: 'btn btn-primary btn-xs' %>
</div>
