<div class="nested-fields">
    <%= f.input :name, placeholder: "Un Cadeau dans ma hotte", label: false %>
    <%= f.input :description, placeholder: "Quelques détails sur le cadeau", label: false %>
    <%= f.input :brand, placeholder: "Une marque spécifique ?",label: false %>
    <%= f.input :link, placeholder: "Lien internet... https://www.fnac.com....",label: false %>
    <%= f.file_field :images, multiple: true, placeholder: "Une image pour être sûr ",label: false, accept: 'images/png,images/gif,images/jpeg' %>
    <%= link_to_remove_association "Supprimer un Cadeau", f, class: 'btn btn-primary btn-xs' %>
</div>
