
<%= simple_form_for @list, url: my_lists_path do |f| %>
  <%= f.error_notification %>

  <h4>Ma liste de Nöel</h4>
  <p>Cher Père Nöel, ayant été trés sage cette année, je voudrais ...</p>


  <div id="gifts">
    <%= f.simple_fields_for :gifts, @gift do |builder| %>
       <%= render 'gift_fields', f: builder %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Ajouter un cadeau', f, :gifts, class: 'btn btn-primary' %>
    </div>
  </div>
  <%= f.submit 'Envoyer ma liste', class: "btn-success" %>
<% end %>
