<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.svg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Ma Hotte", lists_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Ma Communauté", participants_lists_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Mes Achats de Noël", gifts_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">

        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Mon Profil") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fas fa-book"></i> Mode d'emploi
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Me Déconnecter") %>
              <% end %>
            </li>
          </ul>
        </div>

      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Mode d'emploi", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Me Connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Créer un Compte"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to "Ma Hotte", "#" %></li>
          <li>
            <%= link_to "#" do %>
                </i> Ma Communauté
              <% end %>
          </li>
          <li>
            <%= link_to "Mes achats de Nöel", "#"%></li>
          <li>
            <%= link_to "#" do %>
              <%= t(".profile", default: "Mon Profil") %>
            <% end %>
          </li>
          <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t(".sign_out", default: "Me Déconnecter") %>
              <% end %>
          </li>
        <% else %>
            <!-- Login link (when logged out) -->
          <li><%= link_to "Mode d'emploi", "#" %></li>
          <li><%= link_to t(".sign_in", default: "Me Connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to t(".sign_in", default: "Créer un Compte"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

