<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> <%= yield(:title) || "Mahotte.fr" %></title>
    <meta name="description" content="<%=(yield(:description) || "").squish %>" >
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="wrapper-horizontal hidden-xs">
      <%= render "shared/banner" %>
      <div class="container-fluid list_form">
        <%= yield %>
      </div>
    </div>

    <div class="hidden-sm hidden-md hidden-lg">
      <div class="banner-xs" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/mahotte/image/upload/v1529138299/woodgrain-with-christmas-ornaments_4460x4460.jpg');">
        <div class="banner-content">
          <h1>Mahotte.fr</h1>
          <p class="text-right">Gardez la magie de noël</p>
        </div>
      </div>
      <div class="container-fluid list_form">
        <%= yield %>
      </div>
    </div>

     <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>


 <%# content_for(:title) do%><!--
#   <%#= @restaurant.name %> est sur Mahotte.fr
# <%# end %> -->
